body{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.header-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 16px -4px var(--main-shadow-color);
}

.header-brand p{
    font-weight: bold;
}

.dropShadow{
    transition: all ease-in 0.3s;
    box-shadow: 0 5px 16px -4px var(--main-shadow-color);
    z-index: 1000;
}

.choise-cards{
    margin-top: 1vh;
}

.choise-cards-list{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0;
    margin: 0;
    list-style-type: none;
}

.choise-list-item{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 75vw;
    height: 25vh;
    margin: 3vh 0;

    border: 1px solid #000;
    box-shadow:  8px 8px 0 #D6D6D6;
}

.choise-list-item a{
    color: #000;
    text-decoration: none;
}

/* Адптивные шрифты + адаптивные лайн хейты */

p,a{
    font-size: 1rem;
}

/* Адптив для блоков */

@media (min-width: 768px) {
    .choise-list-item{
        width: 60vw;
        height: 30vh;

        box-shadow:  12px 12px 0 #D6D6D6;
    }
}

@media (min-width: 960px) {
    .choise-list-item{
        width: 60vw;
        height: 35vh;

        box-shadow:  16px 16px 0 #D6D6D6;
    }
}

@media (min-width: 1200px) {
    .choise-list-item{
        width: 38vw;
        height: 35vh;

        box-shadow:  16px 16px 0 #D6D6D6;
    }
}